= div_for batch do
  = best_in_place batch, :name
  = best_in_place batch, :date, :type => :date
  %br
  -# = div_for batch.ingredients do |ingredient|
    -# = best_in_place ingredient, :name, :path => ingredient_path(:batch_id => batch.id, :id => ingredient.id)
    -# = link_to 'Delete', ingredient_path(:batch_id => batch, :id => ingredient.id), :confirm => 'Are you sure?', :method => :delete

  = link_to 'Delete Batch', batch_path(:recipe_id => @recipe, :id => batch), :confirm => 'Are you sure?', :method => :delete
